* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.173);
}

.nav img {
  height: 50px;

  width: 100%;
}
.navbar ul {
  padding-bottom: 4px;
  height: 25px;
  display: flex;
  /* background-color: rgba(128, 128, 128, 0.173); */
  align-items: center;
  justify-content: space-around;
}
.navbar ul .logo {
  color: rgb(255, 128, 0);
  text-decoration: none;
}
.navbar ul li {
  font-size: smaller;
  font-weight: 500;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar ul .logo1 {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.header {
  height: 70px;
  background-color: white;

  justify-content: space-evenly;
  display: flex;
  align-items: center;
}
.header h1 {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 700;
}

.f .s {
  padding: 5px;
  width: 330px;
  height: 40px;
  border-radius: 5px;
  border-color: gray;
  color: #808080d3;
  font-size: medium;
  border-color: #5a575748;
  border-width: 1;
}
.f .b {
  width: 80px;
  height: 40px;

  color: white;
  font-size: small;
  font-weight: 600;
  border-width: 0;
  border-radius: 5px;
  background-color: #f68b1b;
  text-transform: uppercase;
}
.header p {
  text-transform: capitalize;
  font-size: large;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header p .a :hover {
  color: #f68b1b;
}
.app {
  display: flex;
}
.apps {
  margin-left: 80px;
  margin-top: 20px;
  padding: 7px;
  width: 200px;
  height: 385px;
  background-color: white;
  border-radius: 3px;
}
.apps ul {
  list-style: none;
  padding-left: 10px;
}
.apps ul li {
  padding: 5px;
}
.apps ul li a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: small;
}
.apps ul li :hover {
  color: #f68b1b;
}
.mm {
  width: 300px;
  height: 300px;
  margin-left: 30px;
  margin-top: 20px;
}
.section-2 {
  display: flex;
  justify-content: center;
}
.photos {
  margin: 20px;
  margin-left: 50px;
  background-position: center;
  width: max-content;
  height: 170px;
  background-color: #fff;
  border-radius: 5px;
}
.imgs {
  display: flex;
  justify-content: center;
  height: 150px;
}
.imgs .im {
  padding: 2px;
  margin: 4px;
  /* background-color: #f68c1b4b; */
  border-radius: 4px;
}

.h {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  color: black;
  font-size: small;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}
.container {
  width: 100%;
}
.title {
  margin-left: 93px;
  display: flex;
  justify-content: center;
  background-color: rgba(135, 207, 235, 0.477);
  width: 84%;
  align-items: center;
  border-radius: 4px;
}
.title-1 {
  width: 100%;
}

.pic {
  padding: 12px;
}
.pic1 {
  margin: 5px;
  justify-content: center;
  align-items: center;
  width: 900px;
  margin-left: 80px;
  display: flex;
  background-color: white;
}
.pic1 img {
  display: flex;
  justify-content: center;
  width: 450px;
  padding: 10px;
}
.pic2 {
  margin: 20px;
  justify-content: center;
  align-items: center;
  width: 900px;
  margin-left: 80px;
  display: flex;
  background-color: white;
}
.pic2 img {
  display: flex;
  justify-content: center;
  width: 450px;
  padding: 10px;
}
.volt {
  width: 100%;
  margin: auto;
}
.volt-3 {
  width: 84%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}
.volt-1 {
  border-radius: 3px;
  background-color: rgba(135, 207, 235, 0.477);
  display: flex;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.volt-1 h2 {
  padding: 5px;
  text-transform: capitalize;
}
.volt-1 a {
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  padding: 7px;
  font-size: larger;
}
.volt-2 {
  width: 450px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.volt-2 img {
  width: 190px;
  margin: 12px;
}
.we-1 {
  margin: auto;
  width: max-content;
  border-radius: 15px;
  background-color: #ffffff;
  margin-top: 10px;
}

.we-2 img {
  margin: auto;
  width: 900px;
  height: 300px;
  display: flex;
  padding-top: 15px;
  border-radius: 15px;
}
.orange {
  padding-bottom: 80px;
}

.orange-1 {
  width: max-content;
  margin: auto;

  border-radius: 15px;
  background-color: #f0dcc2;
  margin-top: 10px;
  justify-content: center;
}
.orange-1 p {
  color: black;
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.orange-3 {
  background-color: #ffffff;
}

.orange-2 {
  padding: 10px;

  margin: auto;
  width: 900px;
  height: 250px;
  display: flex;
}
footer {
  background-color: rgb(35, 34, 34);
  width: 100%;
  height: 100vh;
  margin: auto;
}
.sora {
  background-color: #43413f;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding-top: 40px;
}

.ph h4 {
  text-transform: uppercase;
}
.ph p {
  padding: 10px 0px;
}
.sora2 {
  display: flex;
}
.ff input {
  font-size: medium;
  color: #43413f6b;
  padding: 10px;
  width: 200px;
  height: 50px;
  border-radius: 6px;
  border-style: none;
  text-transform: capitalize;
}
.ss {
  padding-left: 5px;
}
.ss input {
  font-size: medium;
  color: #fff;
  background-color: #272625;
  border-color: black;
  border-style: groove;
  height: 50px;
  border-radius: 4px;
  width: 75px;
}
.ll {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  color: #fff;
  list-style: none;
  font-weight: 100;
  font-size: small;
}
.ll h4 {
  text-transform: uppercase;
}
.ll li a {
  color: #fff;
  border-style: none;
  text-decoration: none;
}
.ll-1 ul li {
  list-style: none;
}
.ll-1 .h {
  padding-bottom: 10px;
  color: #fff;
}
.ll-2 .h-1 {
  padding-bottom: 10px;
  color: #fff;
}
.ll-3 .h-2 {
  padding-bottom: 10px;
  color: #fff;
}
.ll-4 .h-3 {
  padding-bottom: 10px;
  color: #fff;
}
